---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="text-center">{{ title }}</h1>
    </div>
  </div>
  {% include 'svg/divider-waves.svg' %}
</header>

<!-- Per mostrare il CONTENUTO di index.md
<article
class="region"> <div class="wrapper flow prose">
    {{ content | safe }}
</div> </article> -->


<article class="region">
  <div class="wrapper flow prose">
    <h2>
      <a href="/about/" class="heading-anchor">{{ about.title }} 
        <a href="/about/" class="cta-external" aria-label="Read more about me"/>
      </a>
    </h2>
    <p>{{ about.intro }}</p>
  </div>
</article>
<article class="region section spot-color-secondary">
  {% include 'svg/divider-edgy.svg' %}
  <div class="section__inner region">
    <div class="wrapper prose flow">
      <h2>
        <a href="/what-i-do/" class="heading-anchor">{{ whatido.title }} 
          <a href="/what-i-do/" class="cta-external-light" aria-label="Read more about what i do"/>
        </a>
      </h2>
      <p>{{ whatido.intro }}</p>
    </div>
  </div>
  {% include 'svg/divider-edgy.svg' %}
</article>
<article class="region">
  <div class="wrapper flow prose ">
    <h2>
      <a href="/blog/" class="heading-anchor">{{ blog.title }}
        <a href="/blog/" class="cta-external" aria-label="Read more on my Blog"/>
      </a>
    </h2>
    <p>{{ blog.intro }}</p>
  </div>
  <!-- TODO: duplicate of partials/blog.njk -->
  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.posts %}
    {% for post in postslist.slice(0, 4) %}
      {% include "partials/blog-card.njk" %}
    {% endfor %}
  </ul>
</article>