---
layout: base
---

<article class="region">
    <div class="wrapper flow prose">
        <h1 class="gradient-text">{{ title }}</h1>
        <p>{{ whatido.intro }}</p>
    </div>
</article>

<article class="section spot-color-primary">
    {% include 'svg/what-i-do/curve.svg' %}
    <div class="section__inner region">
        <div class="wrapper flow">
            <ul class="features grid mt-l-xl" role="list">
                {% for item in skills %}
                    <li class="flow">
                        <div aria-hidden="true">{% include item.icon %}</div>
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</article>